<h1>Dashboard</h1>
<p><%= link_to('Home', root_path) %> / Dashboard</p>

<p><%= link_to("Sales Executives", heads_path) %></p>
<p><%= link_to("Networks", networks_path) %></p>
<p><%= link_to("Models", models_path) %></p>
<p><%= link_to("Months", months_path) %></p>
<p><%= link_to("Years", years_path) %></p>
