<div id="network-index">
<h2>Networks</h2>
<p><%= link_to('Home', root_path) %> / <%= link_to('Dashboard', retails_path) %> / Networks</p>

<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li role="presentation" class="active"><a href="#month" aria-controls="month" role="tab" data-toggle="tab">Month</a></li>
  <li role="presentation"><a href="#mmc" aria-controls="month" role="tab" data-toggle="tab">MMC</a></li>
  <li role="presentation"><a href="#pmc" aria-controls="month" role="tab" data-toggle="tab">PMC</a></li>
  <li role="presentation"><a href="#year" aria-controls="year" role="tab" data-toggle="tab">Year</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="month">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Retail</div>

            <!-- Table -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Network</th>
                  <th class="center">Target</th>
                  <th class="center">Retail</th>
                  <th class="center">% Ach</th>
                </tr>
              </thead>
              <tbody>
                <% @networks.each do |network| %>
                  <tr>
                    <td><%= link_to(network.name, network) %></td>
                    <% target = Nretail.where(network_id: network, month_id: 4, year_id: 7).sum :target %>
                    <td class="center"><%= target %></td>
                    <% retail = Nretail.where(network_id: network, month_id: 4, year_id: 7).sum :number %>
                    <td class="center"><%= retail %></td>
                    <td class="center">
                      <% if(target!=0) %>
                        <%= (retail*100)/target %> 
                      <% else %> 
                        <%= 0 %> 
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <th>Total</th>
                  <th class="center"><%= Nretail.where(month_id: 4, year_id: 7).sum :target %></th>
                  <th class="center"><%= Nretail.where(month_id: 4, year_id: 7).sum :number %></th>
                  <th class="center"><%= (Nretail.where(month_id: 4, year_id: 7).sum :number)*100/(Nretail.where(month_id: 4, year_id: 7).sum :target) %></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <%= line_chart @nretails.where(month_id: 4, year_id: 7).group(:network_id).sum(:number) %>
      </div>

      <div class="row">
        <%= line_chart Model.group(:name).count %>
      </div>

    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="mmc">
    <div class="container-fluid">

      <p></p>

      <div class="row">

        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Retail</div>

            <!-- Table -->
            <table class="table">
              <thead>
                <tr>
                  <th>Network</th>
                  <th class="center">Apr14</th>
                  <th class="center">Apr15</th>
                  <th class="center">Var +/-</th>
                </tr>
              </thead>
              <tbody>
                <% @networks.each do |network| %>
                  <tr>
                    <td><%= link_to(network.name, network) %></td>
                    <% momc = Nretail.where(network_id: network, month_id: 4, year_id: 6).sum :number %>
                    <td class="center"><%= momc %></td>
                    <% retail = Nretail.where(network_id: network, month_id: 4, year_id: 7).sum :number %>
                    <td class="center"><%= retail %></td>
                    <td class="center"><%= retail - momc %></td>
                  </tr>
                <% end %>
                <tr>
                  <th>Total</th>
                  <th class="center"><%= Nretail.where(month_id: 4, year_id: 6).sum :number %></th>
                  <th class="center"><%= Nretail.where(month_id: 4, year_id: 7).sum :number %></th>
                  <th class="center"><%= (Nretail.where(month_id: 4, year_id: 7).sum :number)-(Nretail.where(month_id: 4, year_id: 6).sum :number) %></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="pmc">
    <div class="container-fluid">

      <p></p>

      <div class="row">

        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Retail</div>

            <!-- Table -->
            <table class="table">
              <thead>
                <tr>
                  <th>Network</th>
                  <th class="center">Mar14</th>
                  <th class="center">Apr15</th>
                  <th class="center">Var +/-</th>
                </tr>
              </thead>
              <tbody>
                <% @networks.each do |network| %>
                  <tr>
                    <td><%= link_to(network.name, network) %></td>
                    <% momc = Nretail.where(network_id: network, month_id: 3, year_id: 6).sum :number %>
                    <td class="center"><%= momc %></td>
                    <% retail = Nretail.where(network_id: network, month_id: 4, year_id: 7).sum :number %>
                    <td class="center"><%= retail %></td>
                    <td class="center"><%= retail - momc %></td>
                  </tr>
                <% end %>
                <tr>
                  <th>Total</th>
                  <th class="center"><%= Nretail.where(month_id: 3, year_id: 6).sum :number %></th>
                  <th class="center"><%= Nretail.where(month_id: 4, year_id: 7).sum :number %></th>
                  <th class="center"><%= (Nretail.where(month_id: 4, year_id: 7).sum :number)-(Nretail.where(month_id: 3, year_id: 6).sum :number) %></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="year">...</div>
</div>
</div>

